.category-filter-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem;
}

.category-button {
   
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f2f2f2;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    letter-spacing: .005em !important;
    background-color: #252537;
    border-radius: 5px;
    margin: 4px;
    padding: 8px 25px;
    max-height: 32px;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.category-button:hover {
    
    background-color: #e9884d; 
}


.category-button.active {
    background-color: #e9884d; 
    color: white;
    font-weight: 600 !important; 
}

