.movies {
  overflow: auto;
  margin: 0 30px;
}


.movie {
  text-align: center;
  margin: 0 10px;
  color: #fff;
}

.movie img {
  width: 165px;
  height: 247px;
  border-radius: 5px;
  padding-top: 15px;
}


.movie span {
  display: block;
  margin-top: 10px;
  font-size: 14px;
}